<div class="card <%= job.status %> " data-id="<%= job.id %> ">
  <div class="id column"><%= job.id %> </div>
  <div class="name column">
    <%= job.name %> 
  </div>
  <div class="deadline column">
    <span>Prazo</span>
    <p><%= job.remaining %> dias para a entrega</p>
  </div>
  <div class="amount column">
    <span>Valor</span>
    <p>R$ <%= job.budget.toFixed(2).replace(".",",") %> </p>
  </div>
  <div class="status badge column">
    <%= job.status==="done"? "Encerrado" : "Em andamento"%> 
  </div>
  <div class="actions column flex">
    <p class="sr-only">Ações</p>
    <a 
      href="/job/<%= job.id %>" 
      class="button white edit" 
      title="Editar Job">
      <img src="/images/edit-24.svg" alt="Editar Job" />
    </a>
    <button class="delete button white" title="Excluir Job">
      <img src="/images/trash-24.svg" alt="Excluir Job" />
    </button>
  </div>
</div>